<h2>List recent fitbit activities</h2>

<p>
  Steps {{activities.0.steps}}
</p>

<table>
  {{#activities}}
    <tr>
      <td>
        {{^exported}}<a href="/fitbit/cp/{{logId}}">{{/exported}}
          {{logId}}
        {{^exported}}</a>{{/exported}}
      </td>
      <td>{{startTime}}</td>
      <td>{{logType}}</td>
      <td>{{activityName}}</td>
      <td><a href="/fitbit/tcx/{{logId}}">{{tcxLink}}</a></td>
      <td>{{#exported}}Exported at {{timestamp}}{{/exported}}</td>
    </tr>
  {{/activities}}
</table>
